<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="userAuth"
             type="WCFClient.AuthCredentials, WCFClient"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="authBehavior">
          <userAuth />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding
          name="secureBinding"
          maxReceivedMessageSize="500000000"
          maxBufferPoolSize="152428800">
          <readerQuotas
            maxStringContentLength="500000000" maxArrayLength="500000000"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Service"
                binding="wsHttpBinding"
                bindingConfiguration="secureBinding"
                behaviorConfiguration="authBehavior"
                contract="WCFContract.IService"
                name="ServiceEndpoint">
        <identity>
          <dns value="MosaicSystem42"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>